body {
	min-width: 960px;
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;

	background-color: #000;
	background-image: url("../img/index-bg.png");
	background-position: top center;
	background-repeat: no-repeat; 
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px; 
	height: 1px; 
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.wrapper {
	width: 100%;

	background-color: #000;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.header__container {
	display: flex;
	justify-content: space-between;
}

.header_margin-bottom_big {
	margin-bottom: 75px;
}

.header_margin-bottom_small {
	margin-bottom: 50px;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 16px;
	line-height: 20px;
	color: #fff;
	
	/*background-color: #000;*/
}

.logo {
	width: 368px;
    height: 153px;
    order: 2;
}

.menu__wrapper {
	margin-bottom: 60px;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.menu__list_size_l {
	width: 620px;
}

.menu__list_size_s {
	max-width: 140px;
}

.menu__list_margin-left_auto {
	margin-left: auto;
}

.menu__link {
	display: block;
	padding: 25px 20px;

	color: #fff;
}

.menu__link:hover,
.menu__link:focus {
	background-color: #242424;
}

.menu__link_padding-left_big {
	padding-left: 50px;
}

.login-link {
	position: relative;
}

.login-link::before {
	content: "";

	position: absolute;
	top: 28px;
	left: 24px;
	width: 16px;
	height: 18px;

	background-image: url("../img/login.svg");
	background-position: top left;
	background-repeat: no-repeat;

	opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
	opacity: 1;
}

.main-content__features {
	margin-bottom: 80px;
}

.features__list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.item {
	width: 300px;

	text-align: center;
}

.item__title {
	position: relative;
	margin: 0 0 60px;

	font-size: 30px;
	line-height: 42px;
}

.item__title::after {
	content: "";

	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -10px; /* Сдвигаем влево на половину размера элемента */
	width: 20px;
	height: 20px;

	background-color: #fff;

	transform: rotate(45deg);
}

.item__text {
	margin: 0 10px;
}

.content {
	color: #000;

	background-color: #f8f5f2;
	background-image: url("../img/pattern-light.jpg");
	background-position: top left;
	background-repeat: repeat;
}

.main-content__content {
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;

	background-image: 
		url("../img/shadow.png"),
		url("../img/pattern-light.jpg");
	background-position: 
		center,
		top left;
	background-repeat: 
		no-repeat,
		repeat;
}

.main-content__content_margin-bottom {
	margin-bottom: 35px;
}

.content__block_size_l {
	width: 380px;
}

.content__block_size_m {
	width: 300px;
}

.content__header {
	background-color: #000;
}

.content__menu {
	align-items: flex-start;
	flex-direction: row;
}

.content__logo {
	order: 0;
	width: 111px;
	height: 24px;
	padding: 23px 20px;
}

.content__title {
	margin: 0;
	/*padding: 0;*/

	font-size: 30px;
	line-height: 42px;
}

.content__button {
	margin-right: 16px;
}

.content__title_margin-bottom_small {
	margin-bottom: 15px;
}

.content__title_margin-bottom_medium {
	margin-bottom: 20px;
}

.content__title_margin-bottom_big {
	margin-bottom: 25px;
}

.news-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.content__news-list {
	margin-bottom: 25px;
}

.news-list__item {
	margin-bottom: 25px;
}

.news-list__title {
	margin: 0;
}

.news-list__date {
	text-transform: none;
}

.content__gallery {
	position: relative;
	height: 260px;
}

.gallery {
	margin: 0;

	background-color: #e5e5e5;
	border: 7px solid #fff;
}

.gallery_size_xs {
	height: 164px;
}

.gallery__img_small {
	width: 286px;
	height: 164px;
}

.gallery__button {
	/* Используем такое решение, поскольку считается, что галерея всегда будет иметь фиксированную высоту */
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	width: 140px;
	margin: 0;
}

.gallery__button_prev {
	left: 0;
}

.gallery__button_next {
	right: 0;
}

.contact-info__text {
	margin: 0 0 25px;
}

.appointment__text {
	margin: 0 0 15px;
}

.button {
	display: inline-block;
	padding: 10px 30px;

	font: inherit;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000;
	border: none;
	cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

.button:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #000;
}

.form-item__input {
	font: inherit;

	background-color: transparent;
	border: 2px solid #000;
}

.form-item__input:focus {
	border-color: #663d15;
}

.appointment .form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.appointment .form-item {
	width: 140px;
}

.appointment .form__item {
	margin: 0 0 10px;
}

.appointment .form-item__label {
	display: block;
	margin: 0 0 9px 15px;
}

.appointment .form-item__input {
	box-sizing: border-box;
	width: 140px;
	padding: 8px 15px 7px;
}

.appointment .button {
	/* Гарантированно будет занимать всю строку флекс-контейнера целиком, будет единственным элементом в строке */
	width: 100%;
}

.appointment .form__button {
	margin-top: 10px;
}

.footer {
	padding: 60px 0;

	color: #fff;

	background-color: #232323;
	background-image: url("../img/pattern-dark.jpg");
	background-position: top left;
	background-repeat: repeat;
}

.footer_margin-top_big {
	margin-top: 65px;
}

.footer_margin-top_small {
	margin-top: 45px;
}

.footer__container {
	display: flex;
}

.footer__item {
	margin: 0;
	width: 150px;

	text-align: left;
}

.footer__item_text_centered {
	text-align: center;
}

.footer__item_size_l {
	width: 320px;
}

.footer__item_size_s {
	width: 145px;
}

.footer__item_margin-right {
	margin-right: 80px;
}

.footer__item_margin-left_auto {
	margin-left: auto;
}

.footer__title {
	display: block;
	margin: 0 0 15px;
}

.footer__link {
	color: #fff;
	text-decoration: underline;
}

.footer__link:hover,
.footer__link:focus {
	text-decoration: none;
}

.footer__button:hover,
.footer__button:focus {
	color: #000;

	background-color: #fff;
}

.social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	width: 141px;
	list-style: none;
}

.social__link {
	display: flex;
	/* Выравниваем иконки по центру с помощью флекс-свойств */
	justify-content: center;
	align-items: center;
	width: 43px;
	height: 43px;

	/*color: #fff;*/

	background-color: #000;
}

.social__link:hover,
.social__link:focus {
	background-color: #fff;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
	/* Меняем цвет svg (ради этого, собственно, svg и были заинлайнены в html разметку) */
	fill: #000;
}

.modal {
	display: none;
	position: fixed;
	/* Не используем absolute, потому что нам нужно привязать модалку именно к вьюпорту (absolute для модалок вообще зло) */

	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

	/* Чисто для класса modal-overlay */
	z-index: 2;
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.modal__close {
	position: absolute;
	top: 0;
	right: -34px;
	width: 22px;
	height: 22px;

	font-size: 0;

	background-color: transparent;
	border: none;

	cursor: pointer;
}

.modal__close::before,
.modal__close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 19px;
	height: 3px;

	background-color: #d0d0d0;
}

.modal__close::before {
	transform: rotate(45deg);
}

.modal__close::after {
	transform: rotate(-45deg);
}

.login-modal {
	top: 120px;
	left: 50%;
	width: 300px;
	padding: 50px 80px;
	margin-left: -230px;
}

.login-modal__text {
	margin: 0 0 10px;
}

.login-modal .form__item {
	margin: 0 0 10px;
}

.login-modal .form-item__input {
	box-sizing: border-box;
	width: 300px;
	padding: 10px 40px 10px 15px;

	color: #000;
	text-transform: uppercase;

	background-color: #f9f6f3;
}

.login-modal__login {
	/* Используем img, так как в поля формы нельзя вставить псевдоэлемент */
	background-image: url("../img/user.svg");
	background-position: 270px center;
	background-repeat: no-repeat;
}

.login-modal__password {
	background-image: url("../img/lock.svg");
	background-position: 270px center;
	background-repeat: no-repeat;
}

.login-modal__help {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.login-modal .login-modal__help {
	margin: 15px 0;
}

.form-item__checkbox-area {
	position: relative;
	padding: 0 0 0 30px;
	cursor: pointer;
}

.form-item__checkbox-area:hover,
.form-item__checkbox-area:focus {
	color: #663d15;
}

.form-item__checkbox-fake {
	position: absolute;
	top: 0;
	left: 0;
	width: 17px;
	height: 17px;

	border: 2px solid #000;
}

.form-item__checkbox:focus + .form-item__checkbox-fake {
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.form-item__checkbox:checked + .form-item__checkbox-fake::before,
.form-item__checkbox:checked + .form-item__checkbox-fake::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;
	width: 15px;
	height: 2px;

	background-color: #000;
}

.form-item__checkbox:checked + .form-item__checkbox-fake::before {
	transform: rotate(45deg);
}

.form-item__checkbox:checked + .form-item__checkbox-fake::after {
	transform: rotate(-45deg);
}

.form-item__restore {
	color: #000;
	text-decoration: underline;
}

.form-item__restore:hover,
.form-item__restore:focus {
	text-decoration: none;
}

.login-modal .button {
	width: 100%;
}

.map-modal {
	top: 50%;
	left: 50%;
	width: 766px;
	height: 561px;
	margin-top: -280px;
	margin-left: -390px;
}

.map-modal__content {
	margin: 0;
}

.breadcrumbs {
	margin: 0;
	padding: 0;

	list-style: none;
}

.main-content__breadcrumbs {
	margin-bottom: 50px;
}

.main-content__columns {
	display: flex;
	justify-content: space-between;
}

.breadcrumbs__link {
	color: #000;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
	text-decoration: underline;
}

.breadcrumbs__item_active {
	color: #aba9a7;
}

.filters {
	width: 180px;
}

.form__group {
	border: none;
}

.form__legend {
	font-size: 24px;
	line-height: 30px;
}

.form__items-list {
	list-style: none;

	line-height: 18px;
}

.filters-form__input:hover + .filters-form__label,
.filters-form__input:focus + .filters-form__label {
	color: #663d15;
}

.filters-form__input:disabled + .filters-form__label {
	color: #000;

	opacity: 0.5;
}

.catalog {
	width: 700px;
}

.catalog__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 25px;
	padding: 0;

	list-style: none;
}

.catalog-item {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.catalog-item_margin-right {
	margin-right: 20px;
}

.catalog-item_margin-right:nth-child(3n) {
	margin-right: 0;
}

.catalog__item {
	width: 220px;
	margin-bottom: 20px;

	background-color: #f8f8f8;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog__item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item__link {
	color: #000;
}

.catalog-item__title {
	font-size: 14px;
	line-height: 18px;
}

.catalog-item__category {
	text-transform: none;
}

.thumbnails {
	list-style: none;
}

.product-info__code {
	color: #aeaeae;
	text-align: right;
}

.buy__price {
	text-align: center;

	background-color: #e5e5e5;
}

.product-info__includes-title {
	font-size: 24px;
	line-height: 30px;
}

.includes-list {
	list-style: none;
}

.pagination {
	margin: 0;
	padding: 0;

	list-style: none;
}

.pagination__link {
	color: #fff;

	background-color: #000;
}

.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
	background-color: #663d15;
}

.pagination__link_active {
	color: #000;

	background-color: #fff;
}

.pagination__link_active:hover,
.pagination__link_active:focus,
.pagination__link_active:active {
	color: #000;

	background-color: #fff;
}

.product-photos {
	width: 460px;
}

.product-info {
	width: 390px;
}