body {
	/*min-width: 1122px;*/
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;

	background-color: #000;
	background-image: url("../img/index-bg.png");
	background-position: top center;
	background-repeat: no-repeat; 
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.wrapper {
	width: 100%;

	background-color: #000;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.header__container {
	display: flex;
	justify-content: space-between;
}

.header_margin-bottom_big {
	margin-bottom: 75px;
}

.header_margin-bottom_small {
	margin-bottom: 50px;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 16px;
	line-height: 20px;
	color: #fff;
	
	/*background-color: #000;*/
}

.logo {
	width: 368px;
    height: 153px;
    order: 2;
}

.menu__wrapper {
	margin-bottom: 60px;
}

.menu__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.menu__list_size_l {
	width: 620px;
}

.menu__list_size_s {
	width: 140px;
}

.menu__list_margin-left_auto {
	margin-left: auto;
}

.menu__link {
	color: #fff;
}

.menu__link:hover,
.menu__link:focus {
	background-color: #242424;
}

.main-content__features {
	margin-bottom: 80px;
}

.features__list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.item {
	width: 300px;

	text-align: center;
}

.item__title {
	font-size: 30px;
	line-height: 42px;
}

.content {
	color: #000;

	background-color: #f8f5f2;
	background-image: url("../img/pattern-light.jpg");
	background-position: top left;
	background-repeat: repeat;
}

.main-content__content {
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;
}

.main-content__content_margin-bottom {
	margin-bottom: 35px;
}

.content__block_size_l {
	width: 380px;
}

.content__block_size_m {
	width: 300px;
}

.content__header {
	background-color: #000;
}

.content__menu {
	align-items: flex-start;
	flex-direction: row;
}

.content__logo {
	order: 0;
	width: 111px;
	height: 24px;
	padding: 23px 20px;
}

.content__title {
	margin: 0;
	padding: 0;

	font-size: 30px;
	line-height: 42px;
}

.main-content__title {
	margin-bottom: 15px;
}

.news-list {
	list-style: none;
}

.news-list__date {
	text-transform: none;
}

.gallery {
	background-color: #e5e5e5;
	border: 7px solid #fff;
}

.button {
	font: inherit;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

.form-item__input {
	font: inherit;

	background-color: transparent;
	border: 2px solid #000;
}

.form-item__input:focus {
	border-color: #663d15;
}

.footer {
	padding: 60px 0;

	color: #fff;

	background-color: #232323;
	background-image: url("../img/pattern-dark.jpg");
	background-position: top left;
	background-repeat: repeat;
}

.footer_margin-top_big {
	margin-top: 65px;
}

.footer_margin-top_small {
	margin-top: 45px;
}

.footer__container {
	display: flex;
}

.footer__item {
	margin: 0;
	width: 150px;

	text-align: left;
}

.footer__item_text_centered {
	text-align: center;
}

.footer__item_size_l {
	width: 320px;
}

.footer__item_size_s {
	width: 145px;
}

.footer__item_margin-right {
	margin-right: 80px;
}

.footer__item_margin-left_auto {
	margin-left: auto;
}

.footer__link {
	color: #fff;
	text-decoration: underline;
}

.footer__link:hover,
.footer__link:focus {
	text-decoration: none;
}

.footer__button:hover,
.footer__button:focus {
	color: #000;

	background-color: #fff;
}

.social {
	list-style: none;
}

.social__link {
	color: #fff;
}

.modal-form__input {
	color: #000;
	text-transform: uppercase;

	background-color: #f9f6f3;
}

.modal-form__checkbox-area:hover,
.modal-form__checkbox-area:focus {
	color: #663d15;
}

.modal-form__restore {
	color: #000;
	text-decoration: underline;
}

.modal-form__restore:hover,
.modal-form__restore:focus {
	text-decoration: none;
}

.breadcrumbs {
	margin: 0;
	padding: 0;

	list-style: none;
}

.main-content__breadcrumbs {
	margin-bottom: 50px;
}

.main-content__columns {
	display: flex;
	justify-content: space-between;
}

.breadcrumbs__link {
	color: #000;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
	text-decoration: underline;
}

.breadcrumbs__item_active {
	color: #aba9a7;
}

.filters {
	width: 180px;
}

.form__group {
	border: none;
}

.form__legend {
	font-size: 24px;
	line-height: 30px;
}

.form__items-list {
	list-style: none;

	line-height: 18px;
}

.filters-form__input:hover + .filters-form__label,
.filters-form__input:focus + .filters-form__label {
	color: #663d15;
}

.filters-form__input:disabled + .filters-form__label {
	color: #000;

	opacity: 0.5;
}

.catalog {
	width: 700px;
}

.catalog__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 25px;
	padding: 0;

	list-style: none;
}

.catalog-item {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.catalog-item_margin-right {
	margin-right: 20px;
}

.catalog-item_margin-right:nth-child(3n) {
	margin-right: 0;
}

.catalog__item {
	width: 220px;
	margin-bottom: 20px;

	background-color: #f8f8f8;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog__item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item__link {
	color: #000;
}

.catalog-item__title {
	font-size: 14px;
	line-height: 18px;
}

.catalog-item__category {
	text-transform: none;
}

.thumbnails {
	list-style: none;
}

.product-info__code {
	color: #aeaeae;
	text-align: right;
}

.buy__price {
	text-align: center;

	background-color: #e5e5e5;
}

.product-info__includes-title {
	font-size: 24px;
	line-height: 30px;
}

.includes-list {
	list-style: none;
}

.pagination {
	margin: 0;
	padding: 0;

	list-style: none;
}

.pagination__link {
	color: #fff;

	background-color: #000;
}

.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
	background-color: #663d15;
}

.pagination__link_active {
	color: #000;

	background-color: #fff;
}

.pagination__link_active:hover,
.pagination__link_active:focus,
.pagination__link_active:active {
	color: #000;

	background-color: #fff;
}